<!DOCTYPE html>
<html>
<head>
    <title>Currency Values</title>
</head>
<body>
    <div id="refresh"></div>
    <h1>Currency Values</h1>
    <table border="3" style="padding: 10px; margin: 2px;">
        <tr >
            <th style="width: 15px;padding: 5px;">Currency</th>
            <th style="width: 15px;">Values</th>
            <th style="width: 15px; padding:5px 10px;">Base</th>
        </tr>
        {% for row in seq %}
        <tr>
            <td style="text-align: center;">{{ row.currency }}</td>
            <td style="text-align: center;"> {{ row.value }}</td>
            <td style="text-align: center;">{{ row.base }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if length!=0 %}
    <div>The following currencies are not supported by the api</div>
    <table border="1">
        <tr>
            <th>Currency</th>
        </tr>
        
        {% for row in not_found_symbol %}
        <tr>
            <td>{{ row}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>