<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Currency Tracker</title>
    </head>

    <body>
        <h1>Help</h1>
        <ul>
            <li>local host: 127.0.0.1, port:8000, version: v1'</li>
            <li>Specify the currencies to track. (e.g., USD,EUR,GBP)</li>
            <li>
                <ul>
                    <li>Route: /fetch-currency</li>
                    <li>base: The base currency (optional) default INR</li>
                    <li>symbol: the currency you want to track with respect to base currency (optional) default USD</li>
                    <li>Enter the three-letter currency code of your preferred base currency.</li>
                </ul>
            </li>

            <li>Remove the currency. (e.g., USD,EUR,GBP)</li>
            <li>
                <ul>
                    <li>Route: /remove-currency</li>
                    <li>currency: add the currency you want to remove</li>
                    <li>Enter the three-letter currency code of your preferred base currency.</li>
                </ul>
            </li>

            <li>Convert the currency</li>
            <li>
                <ul>
                    <li>Route: /convert-currency</li>
                    <li>amount (required): The amount to be converted.</li>
                    <li>from (required): The three-letter currency code of the currency you would like to convert from.</li>
                    <li>to (required): The three-letter currency code of the currency you would like to convert to.</li>
                </ul>
            </li>

            <li>Currencies supported by the api</li>
            <li>
                <ul>
                    <li>Route: /available-currency</li>
                </ul>
            </li>

            <li>List all preferred currencies stored by the user</li>
            <li>
                <ul>Route: /display-currency</ul>
            </li>

            <li> for exiting press Command+C</li>

        </ul>
    </body>

</html>
