<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency tracker</title>
</head>
<body>
    <h2>Welcome to currency tracker. An application that retrieves currency exchange rates from a public API and displays them in real-time. Users can select their preferred currencies and track exchange rate fluctuations.</h2>
    <h4>Features</h4>
    <ul>
        <li>
            Tracks currency with respect to some base currency
        </li>
        <li>
            Convert any amount from one currency to another
        </li>
        <li>
            Remove currencies from the tracked currencies
        </li>
        <li>
            Display the list of the currency that the user is tracking
        </li>
        <li>
            use the <a href="/v1/help">help</a> command to view all the commands
        </li>
    </ul>
</body>
</html>